/*Google Font Import*/
@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Open+Sans&display=swap');

/*General settings on main tags and classes*/
html {
    background-color: #E6F0E8;
    font-size: 100%;
}

body {
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
    }

/*Apply import font styles to website*/
h1,
h2,
h3,
h4 {
    font-family: 'Hebo', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
}

p,
a,
li,
label {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size:1rem;
}

p,label {font-weight: bold;
    margin-top: 10px;
    display: inline-block;}

p {padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    width:auto;}

strong {
    font-family: 'Hebo', sans-serif;
    font-weight: bold;
    text-shadow: 1px 2px black
}

iframe {
    padding: 5px;
    margin-right: 5px;
}

div {padding:1px;}

/*Header content*/

header {
    background: url('../images/tree_header.jpg') no-repeat center center;
    overflow: hidden;
    width: auto;
    background-size: cover;
    height: 100px;
    color: white;
    position:relative;
    top: 0;
}


#leap_logo {
    text-decoration: none;
    color: white;
    float: left;
    font-size: 120%;
    margin-left: 20px;
}

#leap_logo:hover {
    color: #B7E8B0;
}

#leap_menu {
    margin-right: 20px;
    font-size: 110%;
    letter-spacing: 4px;
    justify-content: flex-end;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    padding-right: 5px;
    list-style-type: none;
}

#leap_menu a {
    text-decoration: none;
    color: inherit;
}

#leap_menu li {
    padding: 10px;
    padding-top: 10px;
}

#leap_menu li:hover {
    color: #B7E8B0;
    border-bottom: 1px solid #B7E8B0;
}

/*Index page*/
#main>div {
    text-align: left;
}

#map_image {
    max-width: 600px;
    border-radius: 8%;
    border: 2px solid #B7E8B0;
    height: auto;
}

#map_image:hover {
    border: 2px solid #44803b;
    border-radius: 5%;
}

.map_btn {
    padding: 10px;
    border: 2px solid #44803b;
    border-radius: 8%;
    color: #44803b;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.map_btn:hover {
    border: 2px solid black;
    border-radius: 5%;
    color: whitesmoke;
    background-color: #44803b;
}

#vol_benefits {
    background-color: black;
    padding-left: 10px;
    padding-right: 10px;
}
video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:auto;
}

/*CSS code for leap_gallery and leap_images*/
.leap_gallery {
    text-align: center;
}


.leap_image {
    border-radius: 5%;
    border: 2px solid #B7E8B0;
    height: 275px;
    width: auto;
    transition: all 0.5s ease-out;
}

.leap_image:hover {
    border: 2px solid #44803b;
    border-radius: 2%;
}

/*Main content between header and footer*/
#main {
    height: auto;
    clear: top;
}

/*Meet us page and comments*/

#team {
    text-align: center;
}

.meet_team {
    border-radius: 50%;
    border: 2px solid #B7E8B0;
    height: 350px;
    width: auto;
    transition: all 0.5s ease-out;
}

.meet_team:hover {
    border: 2px solid #44803b;
    border-radius: 5%;
}

/*Contact Us Page*/
.www_logo {
    text-decoration: none;
    font-family: 'Hebo', sans-serif;
    font-weight: bold;
    color: black;
    text-shadow: 3px 3px white
}

.www_logo:hover {
    color: #44803b;

}

#meet_times {
    background: url('../images/contact_us/Meet_background_edit.png') no-repeat center center;
    background-size: cover;
    overflow: hidden;
    width: 100%;
}

#meet_times div {
    color: whitesmoke;
    width: 20%;
    height: 250px;
    float: left;
    padding: 30px 0 0 30px;
    text-align: center;
    border: 2px solid #E6F0E8;
    box-sizing: border-box;
}

.leap_form {
    clear: left;
    background: url('../images/contact_us/Meet_background_edit.png') no-repeat center center;
    background-size: cover;
    height: auto;
}

.vol_sign_up {
    margin: 2% 2% 0 0;
    color: whitesmoke;
    max-width: 550px;
    position: relative;
    left: 2%;
    padding: 20px;
}

.leap_input {
    background: whitesmoke;
    color: black;
    width: 100%;
    height: 40px;
    margin: 5px 0;
    border: 1px solid whitesmoke;
    border-radius: 2px;
    font-size: 16px;
    padding:2px 15px;
}

.leap_input:hover {
    border-color: #E6F0E8;
}

.meet_button {
    font-size: 110%;
    color: whitesmoke;
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    display: block;
    background-color: transparent;
    border-radius: 20%;
    border: 2px solid #B7E8B0;
    transition: all 0.5s ease-out;
}

#meet_agenda>ul {
    list-style-image: url('../images/contact_us/leaf_list_icons.svg');
}

#cover_text {
    font-size: 110%;
    text-transform: inherit;
    letter-spacing: 1px;
    width: 600px;
    height: 425px;
    margin-top: 100px;
    padding-top: 20px;
    padding-left: 10px;
    background-color: rgba(183, 232, 176, 0.7);
    right: 100px;
    position: absolute;
}


/*Footer content*/
footer {
    background: url('../images/tree_footer.jpg') no-repeat center center;
    background-size: cover;
    overflow: hidden;
    color: white;
    text-align: center;
}

#copyright_padding {
    padding-bottom: 10px;
}

#google_map {
    border-style: hidden;
    width: 99%;
    padding-left: 5px;
    padding-right: 5px;
}

.social_media {
    color: white;
    font-size: 300%;
    margin: 2%;
}

.social_media:hover {
    color: #B7E8B0;
}

#footer_h2 {
    padding-top: 20px;
    font-size: 120%;
}

#tvc_link {
    text-decoration: none;
    color: white;
}

#tvc_link:hover {
    color: #B7E8B0;
}

/*Media adjustment for smaller devices*/


/*Removing volunteer feedback from sign up form*/
@media screen and (max-width:1340px) {
    #cover_text {
        display: none;
    }
}

/*Gallery adjustments*/

@media screen and (max-width:950px) {

    #leap_gallery,
    #map_image {
        flex-basis: 100%;
    }

    #leap_gallery:nth-of-type(2) {
        order: -1;
    }

    #leap_menu {
        clear: left;
        float: left;
        margin-bottom: 5px;
        line-height: 15px;
        font-size: 90%;

    }

    #meet_times>div {
        width: 100%;
        clear: both;
        padding: 10px;
        font-size: 90%;
        height: auto;
    }
    p{font-size: 105%;}

    header{height:165px;}

    video {max-width: 940px;}

}
@media screen and (max-width:770px) { video {max-width: 760px;}}

@media screen and (max-width:600px) {

    .meet_team,
    .leap_image,
    #map_image {
        border-radius: 5%;
        border: 2px solid #B7E8B0;
        width: auto;
        height: 280px;
    }

    .meet_team:hover,
    .leap_image:hover {
        border: 2px solid #B7E8B0;
        border-radius: 5%;

    }

    #meet_times>div {
        font-size: 85%;
    }

    p {font-size: 110%;}

    header{height:250px;}

    video {max-width: 590px;}

}



@media screen and (max-width:479px) {
    #main {
        height: auto;
    }

    header {
        width: 100%;
    }

    #leap_menu {
        margin-left: 5px;
        font-size: 125%;
        letter-spacing: 4px;
        justify-content: left;
        flex-wrap: wrap;
        padding: 1px;
        padding-right: 0px;
        list-style-type: none;
    }

    p {font-size:115%;}

    video {max-width:470px;}
}

@media screen and (max-width:350px) 
{
    video, .leap_image {max-width: 310px; height:auto;
    }

    footer > iframe {max-width:300px;}
}

/*Gallery addition to test*/
/*Link: https://codepen.io/fosterdill/pen/ipeEc*/
#gallery {
    width: 200px;
    margin: 10px auto;
  }
  input {
    display: none;
  }

#rad1:checked ~ .carousel {
    -webkit-transform: translateX(0px);
  }
  #rad2:checked ~ .carousel {
    -webkit-transform: translateX(-200px);
  }
  #rad3:checked ~ .carousel {
    -webkit-transform: translateX(-400px);
  }
  #rad4:checked ~ .carousel {
    -webkit-transform: translateX(-600px);
  }
  #rad5:checked ~ .carousel {
    -webkit-transform: translateX(-800px);
  }
  .viewport {
    width: 200px;
    height: 300px;
    overflow: hidden;
    position: relative;
  }
  .carousel > img {
    float: left;
  }
  .carousel {
    position: relative;
    width: 1000px;
    left: 0px;
    -webkit-transition: -webkit-transform 1s;
  }
  label {
    cursor: pointer;
  }
  .nav {
    position: absolute;
    top: 260px;
    left: 60px;
  }
  .dot {
    opacity: .5;
    float: left;
    width: 10px;
    height: 10px;
    background: white;
    margin: 3px;
    border-radius: 50%;
    -webkit-transition: opacity .5s;
  }
  .dot:hover {
    opacity: 1;
  }